#app
{
    background: linear-gradient(180deg,#2ebf91,#8360c3);
    min-height: 100vh;
    font-family: 'Balsamiq Sans', cursive;
}

@import '~vuetify/dist/vuetify.min.css';

@import '~@mdi/font/css/materialdesignicons.min.css';

.v-application--is-ltr .v-input--selection-controls__input{
  position: absolute;
  top: -11px;
  margin-top: 0;
}

.v-list-item{
  min-height: 42px;
}