<template>
  <div class="todo">
      <v-text-field 
      rounded 
      type="text" 
      :label="label" 
      v-model="newTodo" 
      outlined 
      append-icon="mdi-send" 
      @click:append.prevent="Todo" 
      @keyup.enter.prevent="Todo" 
      class="mainInput"
      ref="todo"
      />
    <h3 class="todos">
        To Dos :
    </h3>

    <v-list>
      <v-list-item v-for="(todo, index) of todos" :key="index" class="todo-border py-1 px-2 mb-3">
        <v-checkbox
          v-model="checkbox"
          @change="done(index, todo.name)"
        ></v-checkbox>
        <span class="ml-7">{{ todo.name}} </span>
        <v-spacer></v-spacer>
        <v-btn x-small depressed color="info" fab class="float-right ml-2" @click="edit(index)">
          <v-icon size="17">mdi-pencil</v-icon>
        </v-btn> 
        <v-btn x-small depressed color="error" fab class="float-right ml-2" @click="remove(index)">
          <v-icon size="17">mdi-delete</v-icon>
        </v-btn> 
      </v-list-item>
    </v-list>

      <h3 class="todos mt-5">
        Dones :
        <v-btn small depressed rounded v-if="dones.length" color="pink" class="pink float-right" @click="removeDones">Remove All</v-btn>
      </h3>

      <v-list>
        <v-list-item v-for="(done, index) in dones" :key="index" class="todo-border px-2 mb-3">
          <v-icon color="green" class="mr-3">mdi-check</v-icon>{{done.name}} <v-spacer></v-spacer>
          <v-btn x-small fab depressed color="info" class="float-right" @click="returnDone(index, done.name)">
            <v-icon size="17">mdi-undo</v-icon>
          </v-btn> 
          <v-btn x-small fab depressed color="error" class="float-right ml-2" @click="removeDone(index)">
            <v-icon size="17">mdi-delete</v-icon>
          </v-btn> 
        </v-list-item>
      </v-list>

      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        top
        offset-y
        max-width="330px"
        min-width="300px"
      >
        <template v-slot:activator="{ on }">
          <v-btn color="info" fab class="whatIsNew" v-on="on">
            v1.1
          </v-btn>
        </template>
        
        <v-card class="px-4 py-4">
          <strong>Whats New?</strong><br>
            <v-list>
              <v-list-item dense v-for="(item,i) in news" :key="i" class="px-0"><v-icon size="22" color="green" class="mr-2">mdi-plus</v-icon> {{item}}</v-list-item>
            </v-list>
          </v-card>

      </v-menu>

      <v-snackbar
        v-model="success"
      >
        Congrates! All Todos is Done.
        <v-btn
          color="success"
          text
          @click="success = false"
        >
          Close
        </v-btn>
      </v-snackbar>

  </div>
</template>

<script>
export default {
  name: "todo",
  data: function() {
    return{
      checkbox: [],
      newTodo: null,
      todos: [],
      new: true,
      index: null,
      dones: [],
      menu: false,
      success: false,
      news: [
        'Vuetify Added.',
        'Prevents the empty value.',
        'Send button added to text field.',
        'Checkbox Replyed with check button.',
        'Congrate Message when all todos is done.'
      ],
      label: 'Type New To Do ...'
    }
  },
  methods: {

    /**
     * add new todo
     */

    Todo() {

      if( this.newTodo == '' || this.newTodo == null ) return;

      if( this.new ){
        
        this.todos.push({name: this.newTodo});
        this.setItem( 'todos', this.todos );
        this.newTodo = '';
      }else{
        this.todos[this.index].name = this.newTodo;
        this.new = true;
        this.newTodo = '';
        this.label = 'Type New To Do ...';
        this.setItem( 'todos', this.todos );
        this.$refs.todo.blur();
      }

    },

    edit(index){
      this.new = false;
      this.newTodo = this.todos[index].name;
      this.index = index;
      this.$refs.todo.focus();
      this.label = 'Edit Todo ...';
    },

    focuss(){
      this.$refs.todo.focus();
    },

    getTodosLocal(){
      return JSON.parse(localStorage.getItem("todos"));
    },

    getDonesLocal(){
      return JSON.parse(localStorage.getItem("dones"));
    },

    remove(index){
      this.todos.splice(index,1);
      this.setItem( 'todos', this.todos );
    },

    removeDone(index){
      this.dones.splice(index,1);
      this.setItem( 'dones', this.dones );
    },

    returnDone(index, name){

      this.dones.splice(index,1);
      this.setItem( 'dones', this.dones );

      this.todos.push({name: name});
      this.setItem( 'todos', this.todos );

    },

    done(index, namea) {

      var audio = new Audio( require("../assets/sounds/done.mp3") );
      audio.play();

      this.todos.splice(index,1);
      this.dones.push({name: namea});
      this.checkbox = [];
      this.setItem( 'todos', this.todos );
      this.setItem( 'dones', this.dones );

      if( this.todos.length == 0 ){
        this.success = true;
      }

    },

    removeDones() {
      this.dones = [];
      this.setItem( 'dones', [] );
    },

    setItem( name, value ){
      localStorage.setItem(name, JSON.stringify(value) );
    }
  },
  created(){

    //get todos form localstorage id exists
    if ( this.getTodosLocal() !== null ) {
      this.todos = this.getTodosLocal();
    }else{
      this.setItem( 'todos', [] );
    }

    //dones localstorage when load
    if (localStorage.getItem("dones") !== null) {
      this.dones = JSON.parse(localStorage.getItem("dones"));
    }else{
      localStorage.setItem('dones', JSON.stringify([]));
      this.setItem( 'dones', [] );
    }
    
  },
  mounted(){
    this.$refs.todo.focus();
  }
};
</script>

<style scoped lang="scss">

.pink{
  color: #fff;
}

.todos{
  background: #f3f3f3;
  padding: 10px 12px;
  border-radius: 30px;
  border: 1px solid #ddd;
}

.todo-border{
  border: 1px solid #ddd;
  border-radius: 30px;
}

* {
  box-sizing: border-box;
}
.newTodo {
    width: 100%;
    height: 55px;
    border: 2px solid #ddd;
    border-radius: 3px;
    font-size: 31px;
    color: #555;
    padding-left: 10px;
    box-shadow: 0 3px 27px #eee inset;
}
.newTodo::placeholder {
  color: #ddd;
}
ul {
  padding-left: 0;
  list-style: none;
  width: 100%;
}
li {
    font-size: 20px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 3px;
    margin-bottom: 6px;
    border: 1px solid #e5e5e5;
    color: #555;
}
.doneLis{
  li{
    background: #DCEDC8;
    border: none;
  }
}

.todo{
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
}

.whatIsNew
{
  position: fixed;
  bottom: 15px;
  left: 15px;
}
</style>
